@import "tailwindcss";

/* Var Scroll bg color */
:root {
    --scroll-bg-color: #B13333;
    --scroll-thumb-color: #E23F3F;
    --scroll-thumb-hover-color: #e05757;
}



/* width */
::-webkit-scrollbar {
    width: 1rem;

}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scroll-bg-color);
    border-radius: .4rem;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scroll-thumb-color);
    border-radius: .4rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-thumb-hover-color);
}